Python is an object-oriented programming language, which means it deals with objects. Everything in Python is an object, including numbers, strings, lists, and even functions. Objects have attributes and methods associated with them.

**Numbers:**

Python supports various types of numbers, including integers, floating-point numbers, and complex numbers.

- Integer:


Represents integers (whole numbers).

In [490]:
num_int = 42
print(num_int)
print(type(num_int))
print(id(num_int))           # address where num_int occupied the memory in the main memory

42
<class 'int'>
140703858448456

- Float

In [491]:
num_int_error = 3.14
print(num_int_error)
print(type(num_int_error))

3.14
<class 'float'>

- Complex

In [492]:
num_complex = 2 + 3j
print(num_complex)  #
print(type(num_complex))

(2+3j)
<class 'complex'>

**String**

In [493]:
name="pankajKumawat"

In [494]:
type(name)

str

In [495]:
len(name)

13

In [496]:
name.capitalize()      # first latter capital

'Pankajkumawat'

In [497]:
name.upper()

'PANKAJKUMAWAT'

In [498]:
name.lower()

'pankajkumawat'

In [499]:
name

'pankajKumawat'

In [500]:
name.find('k')    # Return the lowest index in string where substring sub is found,

3

In [501]:
name.find('nk')

2

In [502]:
name.index('a')   #(same as find)Return the lowest index in string where substring sub is found,

1

In [503]:
name.islower()

False

In [504]:
name.isupper()

False

In [505]:
name[0:5]       # index =>   0,1,2,3,4            [0 to 5-1]

'panka'

In [506]:
name

'pankajKumawat'

In [507]:
name[3:5]

'ka'

In [508]:
name[0:13:2]    ##   [start:end:gap]

'pnaKmwt'

In [509]:
name[:]         ## 0 to end

'pankajKumawat'

In [510]:
name[-1]          # end index

't'

In [511]:
name[-13]

'p'

In [512]:
name[-13:-1]                ## -13 to (-1)-1=-2

'pankajKumawa'

In [513]:
"""
 p   a   n   k   a   j   K   u   m   a   w   a   t   <- characters
-13 -12 -11 -10 -9  -8  -7  -6  -5  -4  -3  -2  -1   <- negative indices
 0   1   2   3   4   5   6   7   8   9   10  11  12  <- positive indices

"""

'\n p   a   n   k   a   j   K   u   m   a   w   a   t   <- characters\n-13 -12 -11 -10 -9  -8  -7  -6  -5  -4  -3  -2  -1   <- negative indices\n 0   1   2   3   4   5   6   7   8   9   10  11  12  <- positive indices\n\n'

In [514]:
name[-13], name[0]

('p', 'p')

In [515]:
name[-13:0] # this will be empty string  because -13 and 0 points to the same location

''

In [516]:
name[-13:1]

'p'

In [517]:
name[:-1]

'pankajKumawa'

In [518]:
name[-13:]

'pankajKumawat'

**Bool**: Booleans represent truth values, either `True` or `False`.

In [519]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [520]:
bool_false = False
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

**Set**:

A set is an unordered collection of unique elements. Sets are mutable, meaning they can be modified after creation, but they cannot contain duplicate elements.

In [548]:
my_set = {1, 22, 3, 14, 5}
print(my_set)
print(type(my_set))

{1, 3, 5, 22, 14}
<class 'set'>

**Dictionary:**

In [522]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict)
print(type(my_dict))

{'name': 'John', 'age': 25, 'city': 'New York'}
<class 'dict'>

In [543]:
my_tuple= (1, 'two', 3.0)

In [544]:
my_set={1, 2, 3, 4, 5}

In [545]:
my_dict.fromkeys(my_tuple)#Create a new dictionary with keys from iterable and values set to value.

{1: None, 'two': None, 3.0: None}

In [546]:
my_dict.fromkeys(my_set)

{1: None, 2: None, 3: None, 4: None, 5: None}

In [547]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

**Sequence:**

Strings in Python are sequences of characters enclosed in single, double, or triple quotes. They support various operations such as concatenation, slicing, and formatting.

In [523]:
my_str = "Hello, World!"
print(my_str)
print(type(my_str))

Hello, World!
<class 'str'>

**List**:

A list is a versatile data structure used to store collections of items. Lists are mutable, meaning they can be modified after creation. Each item in a list is indexed, and you can access elements by their index. Lists can contain items of different data types, and they can also contain other lists (nested lists).

In [524]:
my_list = [1, 2,13,13,4.77, 5.4, 'R', 'rank', 3+4j, ['p', 4, 2.3]]
print(my_list)
print(type(my_list))       # <class 'list'> it means my_list is the object of class ,list

[1, 2, 13, 13, 4.77, 5.4, 'R', 'rank', (3+4j), ['p', 4, 2.3]]
<class 'list'>

In [525]:
my_list

[1, 2, 13, 13, 4.77, 5.4, 'R', 'rank', (3+4j), ['p', 4, 2.3]]

In [526]:
my_list.append('pankaj')   # append at last of the list

In [527]:
my_list

[1, 2, 13, 13, 4.77, 5.4, 'R', 'rank', (3+4j), ['p', 4, 2.3], 'pankaj']

In [528]:
my_list.count(13)        # Return number of occurrences of value.

2

In [529]:
my_list.index(13) # Return first index of value and Raises ValueError if the value is not present.

2

In [530]:
my_list.reverse()

In [531]:
my_list

['pankaj', ['p', 4, 2.3], (3+4j), 'rank', 'R', 5.4, 4.77, 13, 13, 2, 1]

In [532]:
my_list.pop()  # Remove and return item at index (default last) and
               # Raises IndexError if list is empty or index is out of range.

1

In [533]:
my_list

['pankaj', ['p', 4, 2.3], (3+4j), 'rank', 'R', 5.4, 4.77, 13, 13, 2]

In [534]:
my_list.pop(1)

['p', 4, 2.3]

In [535]:
my_list.remove(13)    # Remove first occurrence of value and 
                      # Raises ValueError if the value is not present.

In [536]:
my_list

['pankaj', (3+4j), 'rank', 'R', 5.4, 4.77, 13, 2]

In [537]:
my_list.insert(2, '10000')  # Insert object before index.

In [538]:
lst=[435,65,6,23,1,5,26,365,254,763]
lst.sort()
print(lst)

[1, 5, 6, 23, 26, 65, 254, 365, 435, 763]

**Tuple**:

A tuple in Python is a collection of ordered and immutable elements. It is similar to a list, but unlike lists, tuples are immutable, meaning their elements cannot be changed after creation. Tuples are defined using parentheses () and can contain elements of different data types.

In [539]:
my_tuple = (1, 'two', 3.0)
print(my_tuple)
print(type(my_tuple))       # here my_tupel is the object created from tuple class

(1, 'two', 3.0)
<class 'tuple'>

**None**:

`None` is a special constant representing the absence of a value or a null value. It is often used to indicate that a variable or an object does not have a meaningful value or has not been assigned yet.

In [540]:
my_none = None
print(my_none)
print(type(my_none))

None
<class 'NoneType'>