## 1. Converting to Integer (int())

In [1]:
# Convert a float to an integer
float_num = 10.5
int_num = int(float_num)
print(int_num)

10

In [2]:
type(int_num)

int

In [3]:
# Convert a string to an integer
str_num = "42"
int_str = int(str_num)
print(int_str)

42

In [4]:
type(int_num)

int

## 2. Converting to Float (float())

In [5]:
# Convert an integer to a float
int_num = 34
float_num = float(int_num)
print(float_num)

34.0

In [6]:
type(float_num)

float

In [7]:
# Convert a string to a float
str_num = "2.12"
float_str = float(str_num)
print(float_str)

2.12

In [8]:
type(float_num)

float

## 3. Converting to String (str())

In [9]:
# Convert an integer to a string
int_num = 32
str_num = str(int_num)
print(str_num)

32

In [10]:
type(str_num)

str

In [11]:
# Convert a float to a string
float_num = 2.89
str_num = str(float_num)
print(str_num)

2.89

In [12]:
type(str_num)

str

## 4. Converting to Boolean (bool())

In [13]:
# Convert an integer to a boolean
int_num = 0
bool_num = bool(int_num)
print(bool_num)

False

In [14]:
# Convert a non-empty string to a boolean
non_empty_str = "PWskills"
bool_str = bool(non_empty_str)
print(bool_str)

True

In [15]:
# Convert an empty string to a boolean
empty_str = ""
bool_empty_str = bool(empty_str)
print(bool_empty_str)

False