## 1. 'for' loop

In [1]:
# Printing a list of courses

courses = ["DataScience", "DataAnalytics", "Python", "JavaScript"]

for course in courses:
    print(course)

DataScience
DataAnalytics
Python
JavaScript

In [2]:
# Iterating through a List

fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

In [3]:
# Generating a Number Sequence
for i in range(1, 6):
    print("Number:", i)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

In [4]:
# Counting and displaying course names

courses = ["DataScience", "DataAnalytics", "Python", "JavaScript"]
count = 1

for course in courses:
    print(f"Course {count}: {course}")
    count += 1

Course 1: DataScience
Course 2: DataAnalytics
Course 3: Python
Course 4: JavaScript

In [5]:
# Finding and printing the length of each course name

courses = ["DataScience", "DataAnalytics", "Python", "JavaScript"]

for course in courses:
    length = len(course)
    print(f"The course name '{course}' has {length} characters.")

The course name 'DataScience' has 11 characters.
The course name 'DataAnalytics' has 13 characters.
The course name 'Python' has 6 characters.
The course name 'JavaScript' has 10 characters.

## 2. Nested 'for' loop

In [6]:
# Multiplication table

for i in range(1, 6):
    for j in range(1, 11):
        product = i * j
        print(f"{i} * {j} = {product}")
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
# Printing a Pattern
for i in range(5):
    for j in range(i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [8]:
 # Creating a Matrix

rows = 3
cols = 3
matrix = []

for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i * cols + j)
    matrix.append(row)

for row in matrix:
    print(row)

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]

In [9]:
# Matrix multiplication

matrix_A = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix_B = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]
result = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

for i in range(len(matrix_A)):
    for j in range(len(matrix_B[0])):
        for k in range(len(matrix_B)):
            result[i][j] += matrix_A[i][k] * matrix_B[k][j]

for row in result:
    print(row)

[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

## 'while' loop

In [10]:
#Printing course names until a condition is met

courses = ["DataScience", "DataAnalytics", "Python", "JavaScript"]
index = 0

while index < len(courses):
    print(courses[index])
    index += 1

DataScience
DataAnalytics
Python
JavaScript

In [11]:
#Counting the number of characters in course names

courses = ["DataScience", "DataAnalytics", "Python", "JavaScript"]
index = 0

while index < len(courses):
    course = courses[index]
    length = len(course)
    print(f"The course '{course}' has {length} characters.")
    index += 1

The course 'DataScience' has 11 characters.
The course 'DataAnalytics' has 13 characters.
The course 'Python' has 6 characters.
The course 'JavaScript' has 10 characters.

In [12]:
# Counting Down

count = 5

while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

In [13]:
# Right Triangle

row = 1
while row <= 4:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row += 1

*
* *
* * *
* * * *

In [14]:
# Square
side = 1
while side <= 3:
    width = 1
    while width <= 3:
        print("*", end=" ")
        width += 1
    print()
    side += 1

* * *
* * *
* * *