In [1]:
 pip install "pymongo[srv]"==3.11

Collecting pymongo==3.11 (from pymongo[srv]==3.11)Note: you may need to restart the kernel to use updated packages.

  Downloading pymongo-3.11.0.tar.gz (771 kB)
     ---------------------------------------- 0.0/771.7 kB ? eta -:--:--
      --------------------------------------- 10.2/771.7 kB ? eta -:--:--
     - ----------------------------------- 41.0/771.7 kB 487.6 kB/s eta 0:00:02
     ---- -------------------------------- 92.2/771.7 kB 655.4 kB/s eta 0:00:02
     ----- ------------------------------ 122.9/771.7 kB 798.9 kB/s eta 0:00:01
     --------- -------------------------- 194.6/771.7 kB 908.0 kB/s eta 0:00:01
     ---------- ------------------------- 225.3/771.7 kB 860.2 kB/s eta 0:00:01
     ------------- ---------------------- 286.7/771.7 kB 930.9 kB/s eta 0:00:01
     ---------------- ------------------- 358.4/771.7 kB 967.1 kB/s eta 0:00:01
     --------------------- ---------------- 440.3/771.7 kB 1.1 MB/s eta 0:00:01
     ------------------------- ------------ 522.2/771.7 kB 1.2 MB/s eta 0:00:01
     ------------------------------ ------- 614.4/771.7 kB 1.2 MB/s eta 0:00:01
     --------------------------------- ---- 686.1/771.7 kB 1.3 MB/s eta 0:00:01
     --------------------------------- ---- 686.1/771.7 kB 1.3 MB/s eta 0:00:01
     ------------------------------------ - 737.3/771.7 kB 1.2 MB/s eta 0:00:01
     -------------------------------------- 771.7/771.7 kB 1.1 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting dnspython<2.0.0,>=1.16.0 (from pymongo[srv]==3.11)
  Downloading dnspython-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Downloading dnspython-1.16.0-py2.py3-none-any.whl (188 kB)
   ---------------------------------------- 0.0/188.4 kB ? eta -:--:--
   ------ --------------------------------- 30.7/188.4 kB 1.3 MB/s eta 0:00:01
   ---------------- ---------------------- 81.9/188.4 kB 919.0 kB/s eta 0:00:01
   ------------------- ------------------- 92.2/188.4 kB 655.4 kB/s eta 0:00:01
   ---------------------------- --------- 143.4/188.4 kB 774.0 kB/s eta 0:00:01
   -------------------------------------- 188.4/188.4 kB 813.3 kB/s eta 0:00:00
Building wheels for collected packages: pymongo
  Building wheel for pymongo (pyproject.toml): started
  Building wheel for pymongo (pyproject.toml): finished with status 'done'
  Created wheel for pymongo: filename=pymongo-3.11.0-cp311-cp311-win_amd64.whl size=344247 sha256=ae38f9bd2625d5f332bb6de282c97aac58b65e2bab359d46f70aedf060055bf3
  Stored in directory: c:\users\91830\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local\pip\cache\wheels\43\00\27\6d27c275881078538e7cd04e595f2f3a1f14b1ef9e32e40583
Successfully built pymongo
Installing collected packages: pymongo, dnspython
Successfully installed dnspython-1.16.0 pymongo-3.11.0

In [1]:
import pymongo

In [5]:
client=pymongo.MongoClient("mongodb+srv://PankajKumawat:Pankajmongodb123@cluster0.brnksds.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [6]:
client

MongoClient(host=['ac-gsusc4p-shard-00-02.brnksds.mongodb.net:27017', 'ac-gsusc4p-shard-00-00.brnksds.mongodb.net:27017', 'ac-gsusc4p-shard-00-01.brnksds.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-8ns5za-shard-0', ssl=True)

In [7]:
db=client['pwskills']  # create the databases

In [8]:
coll=db['my_records']        # create the collection

In [9]:
data={"name": "pankaj",
      "class": "data sciecne master gen ai",
      "timing": "flexi"}

In [10]:
coll.insert_one(data)

In [12]:
data2={"list_course": ['data scieance master', 'java', 'dsa'],
       'mentor': ['vishwa', 'ravi', 'imran']}

In [13]:
coll.insert_one(data2)

In [15]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [16]:
coll.insert_many(data3)

In [17]:
data4={
    "name": "notebook",
    "qty": 50,
    "rating": [{"score":8},{"score": 9}],
    "size": {"height": 11, "width": 8.5, "unit": "in"},
    "status": "A",
    "tags": ["college_ruled", "perforated"]
}

In [19]:
coll.insert_one(data4)

In [20]:
list_of_records = [
    {'companyName': 'pw skills',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'pw skills',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'pw skills',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [22]:
coll.insert_many(list_of_records)

In [23]:
for i in coll.find(): 
    print(i)

{'_id': ObjectId('66177f47540704764c418d8d'), 'name': 'pankaj', 'class': 'data sciecne master gen ai', 'timing': 'flexi'}
{'_id': ObjectId('6617810b540704764c418d8e'), 'list_course': ['data scieance master', 'java', 'dsa'], 'mentor': ['vishwa', 'ravi', 'imran']}
{'_id': ObjectId('6617895a540704764c418d8f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6617895a540704764c418d90'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6617895a540704764c418d91'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6617895a540704764c418d92'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6617895a540704764c418d93'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6617895a540704764c418d94'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6617895a540704764c418d95'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6617895a540704764c418d96'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6617895a540704764c418d97'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6617895a540704764c418d98'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6617895a540704764c418d99'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6617895a540704764c418d9a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66178ca7540704764c418d9b'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college_ruled', 'perforated']}
{'_id': ObjectId('66178da2540704764c418d9c'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('66178da2540704764c418d9d'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('66178da2540704764c418d9e'), 'companyName': 'pw skills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [24]:
random_data = [
    {'_id': '3', 'companyName': 'pw skills', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'},
]

In [25]:
coll.insert_many(random_data)

In [26]:
for i in coll.find(): 
    print(i)

{'_id': ObjectId('66177f47540704764c418d8d'), 'name': 'pankaj', 'class': 'data sciecne master gen ai', 'timing': 'flexi'}
{'_id': ObjectId('6617810b540704764c418d8e'), 'list_course': ['data scieance master', 'java', 'dsa'], 'mentor': ['vishwa', 'ravi', 'imran']}
{'_id': ObjectId('6617895a540704764c418d8f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6617895a540704764c418d90'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6617895a540704764c418d91'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6617895a540704764c418d92'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6617895a540704764c418d93'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6617895a540704764c418d94'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6617895a540704764c418d95'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6617895a540704764c418d96'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6617895a540704764c418d97'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6617895a540704764c418d98'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6617895a540704764c418d99'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6617895a540704764c418d9a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66178ca7540704764c418d9b'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college_ruled', 'perforated']}
{'_id': ObjectId('66178da2540704764c418d9c'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('66178da2540704764c418d9d'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('66178da2540704764c418d9e'), 'companyName': 'pw skills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw skills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'}

In [27]:
coll.find_one()

{'_id': ObjectId('66177f47540704764c418d8d'),
 'name': 'pankaj',
 'class': 'data sciecne master gen ai',
 'timing': 'flexi'}

In [28]:
for i in coll.find({'companyName': 'pw skills'}): 
    print(i)

{'_id': ObjectId('66178da2540704764c418d9c'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('66178da2540704764c418d9d'), 'companyName': 'pw skills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('66178da2540704764c418d9e'), 'companyName': 'pw skills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw skills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'}

In [30]:
for i in coll.find({'_id': {'$gte':'4'}}): 
    print(i)

{'_id': '4', 'companyName': 'pw skills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw skills', 'Faculty': 'PQR'}

In [33]:
coll.update_many({'companyName':'pw skills'},{'$set':{'companyName':'pw'}})

In [34]:
for i in coll.find(): 
    print(i)

{'_id': ObjectId('66177f47540704764c418d8d'), 'name': 'pankaj', 'class': 'data sciecne master gen ai', 'timing': 'flexi'}
{'_id': ObjectId('6617810b540704764c418d8e'), 'list_course': ['data scieance master', 'java', 'dsa'], 'mentor': ['vishwa', 'ravi', 'imran']}
{'_id': ObjectId('6617895a540704764c418d8f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6617895a540704764c418d90'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6617895a540704764c418d91'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6617895a540704764c418d92'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6617895a540704764c418d93'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6617895a540704764c418d94'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6617895a540704764c418d95'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6617895a540704764c418d96'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6617895a540704764c418d97'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6617895a540704764c418d98'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6617895a540704764c418d99'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6617895a540704764c418d9a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66178ca7540704764c418d9b'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college_ruled', 'perforated']}
{'_id': ObjectId('66178da2540704764c418d9c'), 'companyName': 'pw', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('66178da2540704764c418d9d'), 'companyName': 'pw', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('66178da2540704764c418d9e'), 'companyName': 'pw', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw', 'Faculty': 'PQR'}

In [35]:
coll.update_one({'name':'pankaj'},{'$set':{'name':'pankaj kumawat'}})

In [36]:
for i in coll.find(): 
    print(i)

{'_id': ObjectId('66177f47540704764c418d8d'), 'name': 'pankaj kumawat', 'class': 'data sciecne master gen ai', 'timing': 'flexi'}
{'_id': ObjectId('6617810b540704764c418d8e'), 'list_course': ['data scieance master', 'java', 'dsa'], 'mentor': ['vishwa', 'ravi', 'imran']}
{'_id': ObjectId('6617895a540704764c418d8f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6617895a540704764c418d90'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6617895a540704764c418d91'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6617895a540704764c418d92'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6617895a540704764c418d93'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6617895a540704764c418d94'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6617895a540704764c418d95'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6617895a540704764c418d96'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6617895a540704764c418d97'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6617895a540704764c418d98'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6617895a540704764c418d99'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6617895a540704764c418d9a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('66178ca7540704764c418d9b'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college_ruled', 'perforated']}
{'_id': ObjectId('66178da2540704764c418d9c'), 'companyName': 'pw', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('66178da2540704764c418d9d'), 'companyName': 'pw', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('66178da2540704764c418d9e'), 'companyName': 'pw', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pw', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pw', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pw', 'Faculty': 'PQR'}

In [37]:
coll.drop()

In [38]:
for i in coll.find(): 
    print(i)