In [1]:
# OOP>> Object Orinteted Programming

# class>> blueprint or template for creating objects
# objects> instance of the class

In [2]:
a=5

In [4]:
print(type(a))   # a is the object of class int ,, class int already defined and we are creating a object

<class 'int'>

In [5]:
s="pankaj"

In [8]:
print(type(s))   # s is the object of the class str
                # we can create millions of object of any class

<class 'str'>

In [10]:
class Car:         # naming convention of class >> UpperCamelCase
    pass

In [12]:
a=Car()   # a is the instance/object of the class

In [13]:
type(a)

__main__.Car

In [14]:
print(type(a))

<class '__main__.Car'>

In [26]:
class Car:  # function/method of car(class)
    def accelerate(): 
        print("car is accelearting")

a=Car()
a.accelerate()

TypeError: Car.accelerate() takes 0 positional arguments but 1 was given

In [29]:
class Car:  
    def accelerate(self): 
        print("car is accelearting")


a=Car()
a.accelerate()

# self>> 

# a variable that represents instance of the class using which we can access attributs/ methods
# this is not a python keyword, it can anything but for standardization we use self

                    #or

# self parameter is a reference to the current instance of the class.
# It is used within the class definition to access variables and methods associated with the current instance

car is accelearting

In [36]:
class Car:  
    def accelerate(self): 
        print("car is accelearting")
    
    def brake(self): 
        print("car is stoping")

In [38]:
a=Car()
# a.accelerate()
a.brake()

car is stoping

In [43]:
class Bank: 
    def deposit(self, amount): 
        print("i am trying to deposit some money")
    def withdraw(self, amount_withraw): 
        print("i am trying to withrawing some money")

In [44]:
pankaj=Bank()

In [45]:
pankaj.deposit(1000)

i am trying to deposit some money

In [46]:
deposit()  #we can't access method/attribute of the class without object

NameError: name 'deposit' is not defined

In [64]:
class Bank: 
    amount=19000
    def deposit(self, amount): 
        print("i am trying to deposit some money")
    def withdraw(self, amount_withraw): 
        print("i am trying to withrawing some money")

In [65]:
amount

NameError: name 'amount' is not defined

In [66]:
pankaj=Bank()
pankaj.amount

19000

In [67]:
pankaj.deposit(200)

i am trying to deposit some money

In [68]:
pankaj.amount

19000

In [71]:
class listops: 
    l=[1,2,3,4,5,6,7,8,9,9]
    def extrac_even(self,l): 
        l1=[]
        for i in l: 
            if i%2==0: 
                l1.append(i)
        return l1
    
    def extrac_odd(self,l): 
        l2=[]
        for i in l: 
            if i%2!=0: 
                l2.append(i)
        return l2

In [72]:
ops1=listops()

In [73]:
ops1.l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [76]:
ops1.extrac_even(ops1.l)

[2, 4, 6, 8]

In [77]:
ops2=listops()

In [78]:
ops2.l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [79]:
ops2.extrac_even(ops2.l)

[2, 4, 6, 8]

In [99]:
class listops: 
    def __init__(self,l): 
        self.l=l              # self.l is the class variable

    def extrac_even(self): 
        l=self.l
        l1=[]
        for i in l: 
            if i%2==0: 
                l1.append(i)
        return l1
    
    def extrac_odd(self): 
        l=self.l
        l2=[]
        for i in l: 
            if i%2!=0: 
                l2.append(i)
        return l2

In [100]:
obj1=listops([1,2,3,4,5,6,6,7,7,8])

In [101]:
obj1.extrac_even()

[2, 4, 6, 6, 8]

In [102]:
obj1.l

[1, 2, 3, 4, 5, 6, 6, 7, 7, 8]

In [103]:
obj2=listops([4,7,8,9,36,7,78,46,7,667,467])

In [104]:
obj2.extrac_even()

[4, 8, 36, 78, 46]

In [11]:
class listops: 
    def __init__(self,l): 
        self.l1=l              # l1 is the class variable

    def extrac_even(self): 
        l=self.l1
        l1=[]
        for i in l: 
            if i%2==0: 
                l1.append(i)
        return l1
    
    def extrac_odd(self): 
        l=self.l1
        l2=[]
        for i in l: 
            if i%2!=0: 
                l2.append(i)
        return l2

In [12]:
obj1=listops([2,3,5,4,4,8,9,7,6,45,4])

In [13]:
obj1.l

AttributeError: 'listops' object has no attribute 'l'

In [14]:
obj1.l1

[2, 3, 5, 4, 4, 8, 9, 7, 6, 45, 4]

In [15]:
obj1.extrac_even()

[2, 4, 4, 8, 6, 4]

In [16]:
class Book: 
    def __init__(self, name, author, title):
        self.name_of_book=name
        self.name_of_author=author
        self.title_name=title

    def extract_detail_name_title(self): 
        print(self.name_of_book,self.title_name)

    def extract_detail_name_author(self): 
        print(self.name_of_book,self.name_of_author)

In [17]:
student1=Book('ML', "pankaj", 'Linear eq')

In [18]:
student1.extract_detail_name_title()

ML Linear eq

In [20]:
student1.extract_detail_name_author()

ML pankaj

In [21]:
student2=Book("DL", "abc", "cnn")

In [22]:
student2.extract_detail_name_author()

DL abc

In [23]:
student2.extract_detail_name_title()

DL cnn

In [24]:
student2.name()

AttributeError: 'Book' object has no attribute 'name'

In [25]:
student2.name_of_book

'DL'

In [37]:
class Book: 
    def __init__(self):
        self.name_of_book="DSA"
        self.name_of_author="cormen"     # if we want same for all objects
        self.title_name="stacks"

    def extract_detail_name_title(self): 
        print(self.name_of_book,self.title_name)

    def extract_detail_name_author(self): 
        print(self.name_of_book,self.name_of_author)

In [38]:
student3=Book()
student3.extract_detail_name_author()

DSA cormen

In [39]:
student4=Book()
student4.extract_detail_name_author()

DSA cormen

In [40]:
#thanks