In [1]:
ask_parents=True
if ask_parents: 
    print("go to play cricket")

go to play cricket

In [3]:
ask_parents=False
if ask_parents: 
    print("go to play cricket")
else: 
    print("i will cry")

i will cry

In [5]:
a=120
if a>100: 
    print("this is grater than 100")
else: 
    print("the number is not greater than 100")

this is grater than 100

In [7]:
a=100
if a>100: 
    print("the numer is grater than 100")
elif a==100: 
    print(" the number is exatly equla to 100")
else: 
    print("the number is smaller than 100")

 the number is exatly equla to 100

In [8]:
num=10
if (num>=0): 
    if(num==0): 
        print("num is 0")
    else: 
        print("the num is positive")
else: 
    print("the number is negitive")

the num is positive

In [14]:
name=input("please enter your name: ")
email=input("please enter your email: ")
pswd=input("plesee enter your paswd")

if name=="":
    print("name can not be empty, required field")
else: 
    if "@" not in email: 
        print("invalid email")
    else: 
        if len(pswd)<10: 
            print("password len should be grater than 10")
        else: 
            print("reg completed")

reg completed

In [10]:
name

'pankaj'

In [15]:
# while: repetedly execure a code as long as condition is true
n=10
i=1
while i<n: 
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [20]:
n=10
i=1
while i<n: 
    i=i+1
    if i==4: 
        break
    print(i)
else: 
    print("this will be executed once the while loop is completed withot any break ")

2
3

In [22]:
n=10
i=1
while i<n: 
    i=i+1
    if i==3: 
        continue
    print(i)
else: 
    print("this will be executed once the while loop is completed withot any break ")

2
4
5
6
7
8
9
10
this will be executed once the while loop is completed withot any break

In [23]:
# for loop: 
a='pwskills'
for char in a:
    print(char)

p
w
s
k
i
l
l
s

In [24]:
l=[1,2,3,4]
for i in l: 
    print(i)

1
2
3
4

In [27]:
l=[1,2,'pankaj', 3,4]
for i in l: 
    if i=='pankaj': 
        break
    print(i)
else: 
    print("once for is completed")

1
2

In [28]:
l=[1,2,'pankaj', 3,4]
for i in l: 
    if i=='pankaj': 
        continue
    print(i)
else: 
    print("once for is completed")

1
2
3
4
once for is completed

In [3]:
l=[12,3,1]
for i in l: 
    print(i, end=" ")

12 3 1

In [1]:
# *
# **
# ***
# ****

row=1
while row<=4: 
    col=1
    while col<=row: 
        print("*", end="")
        col=col+1
    print()
    row=row+1

*
**
***
****

In [3]:
for i in range(4): 
    for j in range(i+1): 
        print("*", end="")
    print()

*
**
***
****

In [4]:
# data structure>> way of organising and storing data so that it can be accessed and manupulate

In [5]:
l=[1,2,3,4,5, "baingan", "comp", 2+3j]

In [6]:
type(l)

list

In [7]:
l[0]

1

In [8]:
l[1]

2

In [9]:
l[-1]

(2+3j)

In [10]:
l[0]='lipstick'    # list is mutable

In [11]:
l

['lipstick', 2, 3, 4, 5, 'baingan', 'comp', (2+3j)]

In [12]:
l.append('pankaj')

In [13]:
l

['lipstick', 2, 3, 4, 5, 'baingan', 'comp', (2+3j), 'pankaj']

In [14]:
l.remove('pankaj')

In [15]:
l

['lipstick', 2, 3, 4, 5, 'baingan', 'comp', (2+3j)]

In [17]:
l.remove('comp')

In [18]:
l

['lipstick', 2, 3, 4, 5, 'baingan', (2+3j)]

In [19]:
l1=["Ram", 1, "Shyam"]

In [20]:
l1

['Ram', 1, 'Shyam']

In [21]:
l+l1

['lipstick', 2, 3, 4, 5, 'baingan', (2+3j), 'Ram', 1, 'Shyam']

In [22]:
l.extend(l1)

In [23]:
l

['lipstick', 2, 3, 4, 5, 'baingan', (2+3j), 'Ram', 1, 'Shyam']

In [24]:
[1,2,3]*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
l

['lipstick', 2, 3, 4, 5, 'baingan', (2+3j), 'Ram', 1, 'Shyam']

In [26]:
'lipstick' in l

True

In [27]:
l.index("Ram")

7

In [28]:
del l1

In [29]:
l1

NameError: name 'l1' is not defined

In [30]:
l=[[1,2,3],[4,5,6]]

In [31]:
l

[[1, 2, 3], [4, 5, 6]]

In [32]:
# tuples>> imutable

In [33]:
t=(1,"pankaj", 2, "Ram")

In [34]:
type(t)

tuple

In [35]:
t[1]

'pankaj'

In [36]:
t[1]="Ram"

TypeError: 'tuple' object does not support item assignment

In [37]:
t=(1,2,3,4,True,"Ram")

In [38]:
t[5]

'Ram'

In [39]:
t.index("Ram")

5

In [42]:
t*2

(1, 2, 3, 4, True, 'Ram', 1, 2, 3, 4, True, 'Ram')

In [43]:
t[::-1]

('Ram', True, 4, 3, 2, 1)

In [44]:
t

(1, 2, 3, 4, True, 'Ram')

In [45]:
t1=("Pankaj")
t.extend(t1)

AttributeError: 'tuple' object has no attribute 'extend'

In [46]:
t=(1,2,3)

In [47]:
max(t)

3

In [48]:
min(t)

1

In [49]:
len(t)

3

In [50]:
del t

In [51]:
t

NameError: name 't' is not defined

In [52]:
t=(1,2,3)
t2=(4,5,6)
t+t2

(1, 2, 3, 4, 5, 6)

In [53]:
#set>>set is mutable and frozen set is imutable
s={'red', 'blue', 'blue'}

In [54]:
s

{'blue', 'red'}

In [55]:
s[0]

TypeError: 'set' object is not subscriptable

In [56]:
s[0]='pankaj'

TypeError: 'set' object does not support item assignment

In [57]:
s

{'blue', 'red'}

In [58]:
s.add('pankaj')

In [59]:
s

{'blue', 'pankaj', 'red'}

In [60]:
s[::-1]

TypeError: 'set' object is not subscriptable

In [62]:
len(s)

3

In [63]:
s

{'blue', 'pankaj', 'red'}

In [64]:
s.pop()

'pankaj'

In [66]:
a={1,2,3}

In [68]:
a.remove(2)

In [72]:
b={'pankaj', 'kumar'}
b.remove('pankaj')

In [70]:
b.remove('pankaj')

In [71]:
b

{'kumar'}

In [73]:
s1={1,2,3,4,5}
s2={6,7,8,9,10}

In [74]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [75]:
s1&s2

set()

In [76]:
s1^s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [77]:
# frozen set>> it is immutable
s=frozenset([1,2,3])

In [78]:
type(s)

frozenset

In [79]:
s.add(s)

AttributeError: 'frozenset' object has no attribute 'add'

In [80]:
s1

{1, 2, 3, 4, 5}

In [81]:
s1.add(898)

In [82]:
s1

{1, 2, 3, 4, 5, 898}

In [83]:
s.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [86]:
# dictionary>> mutable
d={"name": "pankaj"}
type(d)

dict

In [87]:
d['name']

'pankaj'

In [89]:
t=(1,2,3)

In [90]:
t

(1, 2, 3)

In [91]:
d={"name": "pankaj"}
d1={"course":"data science"}

In [92]:
d+d1

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [93]:
d.update(d1)

In [94]:
d

{'name': 'pankaj', 'course': 'data science'}

In [96]:
d.keys()

dict_keys(['name', 'course'])

In [98]:
d.values()

dict_values(['pankaj', 'data science'])

In [99]:
# string: 
char='Pankaj'
type(char)

str

In [101]:
char1="kumar"

In [102]:
char+char1

'Pankajkumar'

In [103]:
char[::-1]

'jaknaP'

In [105]:
char[0] = "B"

TypeError: 'str' object does not support item assignment

In [106]:
address="123, ananda nagar"
address.replace("nagar", "city ")

'123, ananda city '

In [107]:
address

'123, ananda nagar'

In [110]:
address.lower()

'123, ananda nagar'

In [111]:
address.upper()

'123, ANANDA NAGAR'

In [112]:
t

(1, 2, 3)

In [114]:
t1=(67,8,9)

In [117]:
t1+(5)

TypeError: can only concatenate tuple (not "int") to tuple

In [121]:
t1 = (67, 8, 9)
element_to_add = 42

t1 = t1 + (element_to_add,)

print(t1)

(67, 8, 9, 42)

In [ ]:
l=[1,4,45,6]
l1=[988,9,696]
l.extend(l1)      # change in origional list

In [123]:
l

[1, 4, 45, 6, 988, 9, 696]

In [124]:
l1

[988, 9, 696]