### Lambda Function

A lambda function in Python is a small anonymous function defined using the lambda keyword. It's typically used for simple operations and is a way to create functions without a formal def declaration. Lambda functions are often used in scenarios where a short function is needed for a specific operation, especially in functional programming contexts or when a function is required as an argument to another function (map(), filter(), sorted(), etc.). However, they are typically not used for complex or lengthy operations, as their readability might decrease for such cases.

#### Lambda Function syntax:

    lambda arguments: expression
    
    
    lambda: Keyword used to indicate the start of a lambda function.
    arguments: Input parameters (arguments) that the lambda function can take. It can have zero or more arguments separated by commas, but it's typically used for simple functions with one or a few arguments.
    expression: The operation or computation to be performed using the arguments. This expression is evaluated and returned as the result of the lambda function.

In [ ]:
def sum1(a,b):
    return a+b

sum1(3,5)

8

In [ ]:
add = lambda a,b : a + b
add(2,3)

5

In [ ]:
add(5,8)

13

In [ ]:
l = lambda x: x *2

def func(n):
  result = l(n)
  return result

func(5)

10

In [ ]:
def fun(x,y):
    if(x>y):
        return x
    else:
        return y
print(fun(3,4))

4

In [ ]:
f = lambda x,y : x if x > y else y
f(3,4)

4

In [ ]:
# consider a function
def travel_or_not(BIKE=True, CAR=False):
    TRAVEL_100_KM = BIKE or CAR

    print(f"You have BIKE: {BIKE}")
    print(f"You have CAR: {CAR}")
    return f"You can travel 100 KMs: {TRAVEL_100_KM}\n"


result = travel_or_not(False, True)
print(f"\nresults:-\n{result}")

You have BIKE: False
You have CAR: True

results:-
You can travel 100 KMs: True

In [ ]:
r = lambda bike, car : f"You can travel 100 KMs: {bike or car}\n"
r(True,False)

'You can travel 100 KMs: True\n'

In [ ]:
def power(base, power):
  return base ** power

In [ ]:
power(2,8)

256

In [ ]:
pow = lambda x, y: x ** y
pow(2,6)

64

1. Take the input the user input find it is even or odd number?Â¶

In [ ]:
n = lambda x: "even" if x%2==0 else "odd"
n(2)

'even'

2. Take a integer input from the user write a lambda function to add 5 and print it back?

In [ ]:
add5 = lambda x: x + 5
print(add5(int(input())))

10
15

3. Write a lambda function to extract the last character of a string.

In [ ]:
last_character = lambda s: s[-1]
print(last_character("hello"))

o

4. Write a lambda function to calculate the average of three numbers.

In [ ]:
average = lambda a, b, c: (a + b + c) / 3
print(average(4, 5, 6))

5.0

5. Write a lambda function to reverse a string.

In [ ]:
reverse_string = lambda s: s[::-1]
print(reverse_string("hello"))
reverse_string('Wonderful')

olleh

'lufrednoW'

6. Write a lambda function to calculate the perimeter of a rectangle given its length and width.

 Python function to remove all vowels from a string using various approaches.

In [ ]:
def remove_vowels(s):
    """
    Remove all vowels from a string.

    Parameters:
    s (str): The input string from which vowels will be removed.

    Returns:
    str: The input string with all vowels removed.
    """
    vowels = 'aeiouAEIOU'  # Define a string containing all vowels (both lowercase and uppercase)
    return ''.join(char for char in s if char not in vowels)

# Test the function
input_string = "Hello, World!"
result = remove_vowels(input_string)
print("Original string:", input_string)
print("String with vowels removed:", result)

Original string: Hello, World!
String with vowels removed: Hll, Wrld!

In [ ]:
s = 'Wonderful'
v = 'aeiou'

for i in s:
  if i not in v:
    print(i)

W
n
d
r
f
l

In [ ]:
remove_vowel = lambda s: ''.join(i for i in s if i.lower() not in 'aeiou')
remove_vowel("Hello, Everyone")

'Hll, vryn'

map, filter, and reduce are built-in functions in Python that are commonly used for processing iterables (such as lists, tuples, or strings) in a concise and functional manner.

## Map function

The map() function in Python is used to apply a specified function to each item in an iterable (like a list) and returns an iterator that yields the results. It's a way to efficiently perform operations on all elements of a sequence without using explicit loops.

### Map function syntax

    map(function, iterable)

    function: A function that will be applied to each item of the iterable.
    iterable: An iterable (e.g., list, tuple, etc.) whose elements will be passed to the function one by one.
    
The map() function is useful when you want to transform each element of an iterable using a specific function. It's often used in combination with lambda functions to perform quick operations on elements without writing explicit loops.

In [ ]:
def square(x):
    return x * x

square(6)

36

In [ ]:
l = [8,2,4,7,11]
square(l)

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
r = []
for i in l:
  r.append(square(i))
r

[64, 4, 16, 49, 121]

In [ ]:
r = tuple(map(square, l))
r

(64, 4, 16, 49, 121)

In [ ]:
list(map(str, l))

['8', '2', '4', '7', '11']

In [ ]:
words = ['apple', 'banana', 'orange', 'kiwi']
len(words)

4

In [ ]:
list(map(len, words))

[5, 6, 6, 4]

In [ ]:
l

[8, 2, 4, 7, 11]

In [ ]:
list(map(lambda x: x >10, l))

[False, False, False, False, True]

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10,14]

for i in numbers:
  if i % 3 == 0:
    print(True)
  else:
    print(False)

False
False
True
False
False
True
False
False
True
False
False

In [ ]:
list(map(lambda x: x %3 == 0, numbers))

[False, False, True, False, False, True, False, False, True, False, False]

#### 1.Program to triple each number of the list using map

In [ ]:
numbers * 3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 14,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 14,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 14]

In [ ]:
list(map(lambda x : x *3, numbers))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 42]

#### 2.Create lambda function calculate the remainder after dividing each number by 2?

In [ ]:
list(map(lambda x :  x % 2, numbers))

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0]

    list1 = [1, 2, 3, 4, 5]
    list2 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 20, 30, 40, 50]

In [ ]:
list(map(lambda x, y:  x + y, list1, list2))

[11, 22, 33, 44, 55]

## Filter Function

The filter() function in Python is used to construct an iterator from elements of an iterable (such as a list) for which a specified function returns True. It's an elegant way to filter elements based on a given condition.

### Filter Function syntax:

    filter(function, iterable)

In [ ]:
def is_even(num):
    return num % 2 == 0

numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14]

In [ ]:
r = [ ]
for i in numbers:
  if is_even(i) == True:
    r.append(i)
r

[2, 4, 6, 8, 10, 14]

In [ ]:
filter(is_even, numbers)

In [ ]:
list(filter(is_even, numbers))

[2, 4, 6, 8, 10, 14]

In [ ]:
list(map(is_even, numbers))

[False, True, False, True, False, True, False, True, False, True, True]

In [ ]:
def filter_by_length(word):
    return len(word) > 5

words = ['apple', 'banana', 'orange', 'kiwi', 'pineapple']

list

In [ ]:
list(filter(filter_by_length, words))

['banana', 'orange', 'pineapple']

In [ ]:
def is_positive(num):
    return num > 0

numbers = (5, -3, 8, -1, 0, 10, -6)

In [ ]:
positive_numbers = filter(is_positive, numbers)
print(tuple(positive_numbers))

(5, 8, 10)

In [ ]:
positive_numbers = map(is_positive, numbers)
print(tuple(positive_numbers))

(True, False, True, False, False, True, False)

#### 1.Program to filter out the list which contains odd numbers?

In [ ]:
List = [1,2,3,4,10,123,22]
list(map(lambda x : x %2 != 0, List))

[True, False, True, False, False, True, False]

In [ ]:
list(filter(lambda x : x %2 != 0, List))

[1, 3, 123]

In [ ]:
list(filter(lambda x : x %2 == 0, List))

[2, 4, 10, 22]

1. Given a list of strings, filter out the strings that start with the letter 'a'.

In [ ]:
strings = ["apple", "banana", "kiwi", "orange", "strawberry", "pineapple", "grape"]

In [ ]:
n = 'Apple'
n.startswith('A')

True

In [ ]:
starts_with_a = filter(lambda x: x.startswith('a'), strings)
tuple(starts_with_a)

('apple',)

Given a list of integers, filter out the negative numbers.

In [ ]:
numbers = [-3, 4, -7, 8, -2, 10, -5]

# Use filter() to keep only positive numbers
positive_numbers = filter(lambda x: x >= 0, numbers)

# Convert the result iterator to a list to see the output
print(list(positive_numbers))

[4, 8, 10]

In [ ]:
numbers = [-3, 4, -7, 8, -2, 10, -5]

# Use filter() to keep only negative numbers
positive_numbers = filter(lambda x: x < 0, numbers)

# Convert the result iterator to a list to see the output
print(list(positive_numbers))

[-3, -7, -2, -5]

## Reduce Function

The reduce() function, previously part of the core Python functools module (now in the functools submodule for Python 3 onwards), is used to perform a repetitive operation on a sequence of elements until only one value remains. The function accumulates the results of a binary function (that takes two arguments) as it traverses the sequence from left to right.

### Reduce Function Syntax:

    functools.reduce(function, iterable[, initializer])
    
    function: A function that takes two arguments and performs the specified operation.
    iterable: An iterable (e.g., list, tuple, etc.) over which the reduce() function will perform the operation.
    initializer (optional): An optional initial value. If provided, it will be placed before the items of the sequence in the calculation.

In [ ]:
def find_max(x, y):
    return x if x > y else y
numbers = [3, 7, 2, 9, 1, 4, 6]

find_max(2,6)

6

In [ ]:
from functools import reduce

max_value = reduce(find_max, numbers)
print(max_value)

9

In [ ]:
reduce(lambda x, y : x+ y, numbers)

32

In [ ]:
list1 = [10,6,7,5,2,1,8,5]

reduce(lambda x , y :  x* y, list1)

168000

In [ ]:
from itertools import accumulate

In [ ]:
list(accumulate(list1, lambda x, y: x*y))

[10, 60, 420, 2100, 4200, 4200, 33600, 168000]

In [ ]:
def student_details(**detail):
  for i,j in detail.items():
    print(f'Key : {i} -- Value : {j}')

In [ ]:
student_details(name = 'Rahul', age = 10, grade = 3)

Key : name -- Value : Rahul
Key : age -- Value : 10
Key : grade -- Value : 3

    def outer_function():
        print("Outer function is executing.")

        def inner_function():
            print("Inner function is executing.")

        # Call the inner function
        inner_function()

    # Call the outer function
    outer_function()

In [ ]:
def outer_function():
    x = 10  # Variable in outer function's scope

    def inner_function():
        print("Value of x inside inner function:", x)  # Accessing x from outer function's scope

    inner_function()

# Call the outer function
outer_function()

Value of x inside inner function: 10

In [ ]:
inner_function()

NameError: name 'inner_function' is not defined

Create a function power_sum() that calculates the sum of powers of a given number up to a specified exponent. The function should accept two arguments: the base number base, and the exponent exp. The function should return the sum of powers from 1 up to exp.

    Define an outer function power_sum() that takes two arguments: base and exp.
    Inside power_sum(), define an inner function calculate_power() that takes two arguments: num (the current number to be powered) and exp (the exponent).
    Use a loop to iterate from 1 up to exp.
    Inside the loop, call the inner function calculate_power() to calculate the power of base raised to the current number.
    Sum up the calculated powers.
    Return the total sum from the outer function.

In [ ]:
def power_sum(base, exp):
  def calculate_power(num, exp):
    return num ** exp
  total = 0
  for i in range(1, exp + 1):
    total += calculate_power(base, i)
  return total

In [ ]:
power_sum(2,3)

14

In [ ]:
calculate_power(2)

NameError: name 'calculate_power' is not defined