In [1]:
s={1,2,2,3,4,4}

In [2]:
s # distinct element

{1, 2, 3, 4}

In [4]:
# unorderd, immutabel, unuque

s[0]  # error

TypeError: 'set' object does not support item assignment

In [5]:
max(s)

4

In [6]:
min(s)

1

In [7]:
sorted(s)

[1, 2, 3, 4]

In [10]:
# set ooperation: 
#union
#intersecrtion
#difference
#subset
#superset
#symmetric differennc

set1={34,67,78,100}
set2={67,78}

In [11]:
#intersecrtion

set1 & set2

{67, 78}

In [12]:
set1.intersection(set2)

{67, 78}

In [13]:
#union

set1 | set2

{34, 67, 78, 100}

In [14]:
set1.union(set2)

{34, 67, 78, 100}

In [15]:
#difference

set1-set2

{34, 100}

In [16]:
set1.difference(set2)

{34, 100}

In [18]:
#superset

set1.issuperset(set2)

True

In [21]:
set2.issuperset(set1)

False

In [19]:
# subset

set1.issubset(set2)

False

In [20]:
set2.issubset(set1)

True

In [24]:
# symmetric difference: 

set1={34,67,78,100}
set2={67,78,102}

set1.symmetric_difference(set2)

{34, 100, 102}

In [25]:
set2.symmetric_difference(set1)

{34, 100, 102}

In [26]:
set1^set2

{34, 100, 102}