In [232]:
import pandas as pd

In [233]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [234]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [235]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [236]:
s=df['Name'][0:10]

In [237]:
s         # here by default index starts form 0 to ...,,but we can change the index according to us

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [238]:
type(s)

pandas.core.series.Series

In [239]:
len(s)

10

In [240]:
l=['a','b','c','d','e','f','g','h','i','j']

In [241]:
pd.Series(s, index=l)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [242]:
s1=pd.Series(list(s), index=l)

In [243]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [244]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [245]:
s[0]

'Braund, Mr. Owen Harris'

In [246]:
s1[0]        # it work because internal indeces always remembered in the python (only in case if named indeces are string)

C:\Users\91830\AppData\Local\Temp\ipykernel_41604\4168878118.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0]        # it work because internal indeces always remembered in the python (only in case if named indeces are string)

'Braund, Mr. Owen Harris'

In [247]:
s1['a']

'Braund, Mr. Owen Harris'

In [248]:
# s1.append('pankaj')   #TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [249]:
s2=pd.concat([s1,s])

In [250]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [251]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [252]:
s2[5]

'Moran, Mr. James'

In [253]:
s3=pd.Series([5,6,7,8,99,56,89,65], index=[1,2,3,4,5,5,7,8])

In [254]:
s3

1     5
2     6
3     7
4     8
5    99
5    56
7    89
8    65
dtype: int64

In [255]:
#s3[0]         # if named indeces are interger then internal indeces are not considered so it give error

In [256]:
s3.iloc[0]        # iloc always work either the named indeces are string or integer

5

In [257]:
s4=pd.Series([45,646,57,800,5647,4563,98], index=[2,6,2,4,7,5,8])

In [258]:
s4

2      45
6     646
2      57
4     800
7    5647
5    4563
8      98
dtype: int64

In [259]:
s5=pd.concat([s3,s4])

In [260]:
s5

1       5
2       6
3       7
4       8
5      99
5      56
7      89
8      65
2      45
6     646
2      57
4     800
7    5647
5    4563
8      98
dtype: int64

In [261]:
s5[4]

4      8
4    800
dtype: int64

In [262]:
s5[2]       #it's prove that after named indeces if not considerd the default (internal) indeces(only in case of integer)

2     6
2    45
2    57
dtype: int64

In [263]:
s5[0:5]   # in case of slicing it consider default indeces always

1     5
2     6
3     7
4     8
5    99
dtype: int64

In [264]:
# s5[0]      #KeyError: 0

In [265]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [266]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [267]:
s11=pd.Series(list(s),index=['p','q','r','s','t','u','v','w','x','y'])

In [268]:
s11

p                              Braund, Mr. Owen Harris
q    Cumings, Mrs. John Bradley (Florence Briggs Th...
r                               Heikkinen, Miss. Laina
s         Futrelle, Mrs. Jacques Heath (Lily May Peel)
t                             Allen, Mr. William Henry
u                                     Moran, Mr. James
v                              McCarthy, Mr. Timothy J
w                       Palsson, Master. Gosta Leonard
x    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
y                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [269]:
s111=pd.concat([s1,s11])

In [270]:
s111

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
p                              Braund, Mr. Owen Harris
q    Cumings, Mrs. John Bradley (Florence Briggs Th...
r                               Heikkinen, Miss. Laina
s         Futrelle, Mrs. Jacques Heath (Lily May Peel)
t                             Allen, Mr. William Henry
u                                     Moran, Mr. James
v                              McCarthy, Mr. Timothy J
w                       Palsson, Master. Gosta Leonard
x    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
y                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [271]:
s111[0]

C:\Users\91830\AppData\Local\Temp\ipykernel_41604\4290339677.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s111[0]

'Braund, Mr. Owen Harris'

In [272]:
s111.iloc[0]

'Braund, Mr. Owen Harris'

In [273]:
s111.loc['a']

'Braund, Mr. Owen Harris'

In [274]:
s111[9]

C:\Users\91830\AppData\Local\Temp\ipykernel_41604\1613476644.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s111[9]

'Nasser, Mrs. Nicholas (Adele Achem)'

In [275]:
s111[11]

C:\Users\91830\AppData\Local\Temp\ipykernel_41604\2133764836.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s111[11]

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [276]:
s111[19]

C:\Users\91830\AppData\Local\Temp\ipykernel_41604\3417036469.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s111[19]

'Nasser, Mrs. Nicholas (Adele Achem)'

In [277]:
s111['a']

'Braund, Mr. Owen Harris'

In [278]:
s111['x']

'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'

In [279]:
s111[0:5]

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
dtype: object

In [280]:
s111[11:18]

q    Cumings, Mrs. John Bradley (Florence Briggs Th...
r                               Heikkinen, Miss. Laina
s         Futrelle, Mrs. Jacques Heath (Lily May Peel)
t                             Allen, Mr. William Henry
u                                     Moran, Mr. James
v                              McCarthy, Mr. Timothy J
w                       Palsson, Master. Gosta Leonard
dtype: object

In [281]:
s111['s':'v']

s    Futrelle, Mrs. Jacques Heath (Lily May Peel)
t                        Allen, Mr. William Henry
u                                Moran, Mr. James
v                         McCarthy, Mr. Timothy J
dtype: object

In [282]:
s3

1     5
2     6
3     7
4     8
5    99
5    56
7    89
8    65
dtype: int64

In [283]:
s4

2      45
6     646
2      57
4     800
7    5647
5    4563
8      98
dtype: int64

In [284]:
s3+s4

1       NaN
2      51.0
2      63.0
3       NaN
4     808.0
5    4662.0
5    4619.0
6       NaN
7    5736.0
8     163.0
dtype: float64

In [285]:
s3*s4  # if indeces are same then it will work otherwise give NaN

1         NaN
2       270.0
2       342.0
3         NaN
4      6400.0
5    451737.0
5    255528.0
6         NaN
7    502583.0
8      6370.0
dtype: float64

In [1]:
'''
int: s[0]--> never consider inbuit index or always consider named index
     s[0:4]--> always cosider inbuilt index or never consider named index

string: s[0]--> may cosider inbuilt with future warning
        s[0:5] --> may consider inbuilt index
        s['a': 'c']--> may consider named indecs
        s['a'] --> may consider named indeces

'''

"\nint: s[0]--> never consider inbuit index or always consider named index\n     s[0:4]--> always cosider inbuilt index or never consider named index\n\nstring: s[0]--> may cosider inbuilt with future warning\n        s[0:5] --> may consider inbuilt index\n        s['a': 'c']--> may consider named indecs\n        s['a'] --> may consider named indeces\n\n"