1.Covert a iteger to a floating-point number.<br>
2.Covert a float to a iteger.<br>
3.Covert a iteger to a strig.<br>
4.Covert a list to a tuple.<br>
5.Covert a tuple to a list.<br>
6.Covert a decimal number to biary.<br>
7.Covert a non-zero number to boolean.

In [2]:
# 2

float_num=89.3  # this will be float
print(type(float_num))

int_num=int(float_num)
type(int_num)

<class 'float'>

int

In [3]:
# 3
int_num=67
print(type(int_num))

str=str(int_num)
type(str)

<class 'int'>

str

In [4]:
# 4

list=[2, 5, 4.4, 'pankaj', 'p', 8+7j, True]
print(type(list))

my_tuple=tuple(list)
type(my_tuple)

<class 'list'>

tuple

In [1]:
# 5

my_tuple=(2, 5, 4.4, 'pankaj', 'p', 8+7j, True)
print(type(my_tuple))

my_list=list(my_tuple)
type(my_list)

<class 'tuple'>

list

In [2]:
# 6 decimal to binary

num=10
binary=bin(num)
print(binary)

0b1010

In [3]:
# 7 non zero to boolean
num=34
bool_value=bool(num)
print(bool_value)

True