In [70]:
print("Hello World")

Hello World

In [71]:
len('Hello')

5

In [72]:
type(5)

int

In [73]:
# funtions: 
# 1 inbuilt: print, len, type
# 2 userdefined function

In [89]:
# functions: it is a block of code that perform some specific computation
# it keeps your code and clean, organise, reuse

In [90]:
int(34.45)

34

In [91]:
float(4)

4.0

In [92]:
import math as m
m.ceil(3.5)

4

In [93]:
m.floor(4.4)

4

In [94]:
# syntax of function: 
# def func(): 
    # do something
    # do something
    # return

In [95]:
print("welcome to class Rahul")
print("welcome to class pankaj")
print("welcome to class nitesh")

welcome to class Rahul
welcome to class pankaj
welcome to class nitesh

In [96]:
def greet(n): 
    print("welcome to class", n)

In [97]:
greet('pankaj')

welcome to class pankaj

In [98]:
greet('rahul')

welcome to class rahul

In [99]:
greet('jaya')

welcome to class jaya

In [100]:
def func(): 
    print("this is my first function")

In [101]:
func()

this is my first function

In [102]:
'this is my first funtion ' +"in python"

'this is my first funtion in python'

In [103]:
func() + " in python"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [104]:
func()

this is my first function

In [105]:
type(func())

this is my first function

NoneType

In [106]:
def func(): 
    return 'this is my first function'

In [107]:
func()

'this is my first function'

In [108]:
type(func())

str

In [109]:
func() + ' in python'

'this is my first function in python'

In [110]:
def func(): 
    return 'this is my first function', 3,3,7+8j,True

In [111]:
func()

('this is my first function', 3, 3, (7+8j), True)

In [112]:
type(func())

tuple

In [113]:
a=func()

In [114]:
a

('this is my first function', 3, 3, (7+8j), True)

In [115]:
type(a)

tuple

In [116]:
a[0]

'this is my first function'

In [117]:
a[1]

3

In [118]:
a,b,c,d,e=func()

In [119]:
a

'this is my first function'

In [120]:
b

3

In [121]:
c

3

In [122]:
d

(7+8j)

In [123]:
e

True

In [124]:
a,b,c,d=func()

ValueError: too many values to unpack (expected 4)

In [125]:
func()[2]

3

In [126]:
def func(): 
    calc=2+3+6*5
    return calc

In [127]:
func()

35

In [128]:
type(func())

int

In [129]:
def squre_no(a):    #  a is called as arguments
    return a*a

In [130]:
squre_no(5)

25

In [131]:
squre_no(78)

6084

In [132]:
def sum_(a,b): 
    return a+b

In [133]:
sum_(3,4)

7

In [134]:
sum_('pankaj', ' kumawat')

'pankaj kumawat'

In [135]:
sum_([1,2,'pankaj'],[3,5,'p'])

[1, 2, 'pankaj', 3, 5, 'p']

In [136]:
sum_(b=[1,2,3], a=[4,5,6])

[4, 5, 6, 1, 2, 3]

In [137]:
sum_(b='pankaj',a= 'kumawat ')

'kumawat pankaj'

In [138]:
def sum_(a,b,c): 
    return a+b+c

In [139]:
sum_(1,2,34)

37

In [140]:
sum_(2,3)

TypeError: sum_() missing 1 required positional argument: 'c'

In [145]:
# default arguments: 

def sum_2(a=0,b=0,c=0): 
    return a+b+c

In [149]:
sum_2(2,3)  # a=2, b=3, c=0

5

In [150]:
sum_(a=3, c=56)

59

In [151]:
def add_two_nos(): 
    a=int(input("Enter the first number: "))
    b=int(input("Enter the second number: "))
    return a+b

In [153]:
add_two_nos()

57

In [154]:
# Q . write a fuction that take list as input and return me all numeric value

In [158]:
def only_numeric(a):
    n=[]
    for i in a: 
        if type(i)==int or type(i)==float: 
          n.append(i) 
    return n

In [161]:
only_numeric([1,2,3,4.3,'pankaj', 't', True,[2,3,1]])

[1, 2, 3, 4.3]