In [54]:
print("Hello World")

Hello World

In [55]:
len('Hello')

5

In [56]:
type(5)

int

In [57]:
# funtions: 
# 1 inbuilt: print, len, type
# 2 userdefined function

In [58]:
# functions: it is a block of code that perform some specific computation
# it keeps your code  clean, organise, reuse

In [59]:
int(34.45)

34

In [60]:
float(4)

4.0

In [61]:
import math as m
m.ceil(3.5)      # nearest greater intger

4

In [62]:
m.floor(4.4) # nearest small integer

4

In [63]:
# syntax of user defined function: 
# def func(): 
    # do something
    # do something
    # return

In [64]:
print("welcome to class Rahul")
print("welcome to class pankaj")
print("welcome to class nitesh")

welcome to class Rahul
welcome to class pankaj
welcome to class nitesh

In [65]:
def greet(n): 
    print("welcome to class", n)

In [66]:
greet('pankaj')

welcome to class pankaj

In [67]:
greet('rahul')

welcome to class rahul

In [68]:
greet('jaya')

welcome to class jaya

In [69]:
def func(): 
    print("this is my first function")

In [70]:
func()

this is my first function

In [71]:
'this is my first funtion ' +"in python"

'this is my first funtion in python'

In [72]:
func() + " in python"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [73]:
func()

this is my first function

In [74]:
type(func())

this is my first function

NoneType

In [75]:
def func(): 
    return 'this is my first function'

In [76]:
func()

'this is my first function'

In [77]:
type(func())

str

In [78]:
func() + ' in python'

'this is my first function in python'

In [79]:
def func(): 
    return 'this is my first function', 3,3,7+8j,True

In [80]:
func()  # it return a tuple

('this is my first function', 3, 3, (7+8j), True)

In [81]:
type(func())

tuple

In [82]:
a=func()

In [83]:
a

('this is my first function', 3, 3, (7+8j), True)

In [84]:
type(a)

tuple

In [85]:
a[0]

'this is my first function'

In [86]:
a[1]

3

In [87]:
a,b,c,d,e=func()

In [88]:
a

'this is my first function'

In [89]:
b

3

In [90]:
c

3

In [91]:
d

(7+8j)

In [92]:
e

True

In [93]:
a,b,c,d=func()

ValueError: too many values to unpack (expected 4)

In [94]:
func()[2]

3

In [95]:
def func(): 
    calc=2+3+6*5
    return calc

In [96]:
func()

35

In [97]:
type(func())

int

In [98]:
def squre_no(a):    #  a is called as arguments
    return a*a

In [99]:
squre_no(5)

25

In [100]:
squre_no(78)

6084

In [101]:
def sum_(a,b): 
    return a+b

In [102]:
sum_(3,4)

7

In [103]:
sum_('pankaj', ' kumawat')

'pankaj kumawat'

In [104]:
sum_([1,2,'pankaj'],[3,5,'p'])

[1, 2, 'pankaj', 3, 5, 'p']

In [105]:
sum_(b=[1,2,3], a=[4,5,6])

[4, 5, 6, 1, 2, 3]

In [106]:
sum_(b='pankaj',a= 'kumawat ')

'kumawat pankaj'

In [107]:
def sum_(a,b,c): 
    return a+b+c

In [108]:
sum_(1,2,34)

37

In [109]:
sum_(2,3)

TypeError: sum_() missing 1 required positional argument: 'c'

In [110]:
# default arguments: 

def sum_2(a=0,b=0,c=0): 
    return a+b+c

In [111]:
sum_2(2,3)  # a=2, b=3, c=0

5

In [112]:
sum_(a=3, c=56)

TypeError: sum_() missing 1 required positional argument: 'b'

In [113]:
def add_two_nos(): 
    a=int(input("Enter the first number: "))
    b=int(input("Enter the second number: "))
    return a+b

In [114]:
add_two_nos()

11

In [115]:
# Q 1  . write a fuction that take list as input and return me all numeric value

In [116]:
def only_numeric(a):
    n=[]
    for i in a: 
        if type(i)==int or type(i)==float: 
          n.append(i) 
    return n

In [117]:
only_numeric([1,2,3,4.3,'pankaj', 't', True,[2,3,1]])

[1, 2, 3, 4.3]

In [118]:
# Q 2 write a fuction that take list or list of list as input and return me all numeric value

In [123]:
def only_numeric(a):    # a is positional arguments
    n=[]
    for i in a: 
        if type(i)==list: 
            for j in i: 
                if type(j)==int or type(j)==float: 
                    n.append(j)
        else: 
            if type(i)==int or type(i)==float: 
                n.append(i)
        
    return n

In [124]:
only_numeric([1,2,3,4.3,'pankaj', 't', True,[2,3,1]])

[1, 2, 3, 4.3, 2, 3, 1]

In [125]:
def sum_(a,b): 
    return a+b

In [126]:
sum_(3,4)

7

In [127]:
sum(2,3,4)

TypeError: sum() takes at most 2 arguments (3 given)

In [132]:
# variable length arguments: 
def sum_(*args):       # args not a key word it can anything, Asterisk argument
    s=0
    for i in args: 
        s=s+i
    return s

In [133]:
sum_(3,4,45,5,56)

113

In [134]:
sum_(342,4,5,5,6,2,52,5,2,52,45,245,2,5,2)

774

In [135]:
def test1(*args):
    return args

In [137]:
test1(1,2,3,4.2, 'Pankaj', 'p', True, (4,5), [3,5,'l'])

(1, 2, 3, 4.2, 'Pankaj', 'p', True, (4, 5), [3, 5, 'l'])

In [138]:
def test2(*args, a): 
    return args,a

In [143]:
test2(1,2,3,4.2, 'Pankaj', 'p', True, (4,5), [3,5,'l'], a='ram')

((1, 2, 3, 4.2, 'Pankaj', 'p', True, (4, 5), [3, 5, 'l']), 'ram')

In [144]:
# Q it can take any arguments but retuturn only list

In [145]:
def return_list(*args): 
    l=[]
    for i in args: 
        if type(i)==list: 
            l.append(i)
    return l

In [148]:
return_list(1,2,3,4.2, 'Pankaj', 'p', True,[3,4,5] ,(4,5), [3,5,'l'])

[[3, 4, 5], [3, 5, 'l']]

In [150]:
def team(name, project): 
    return f"{name} is working on {project}"

In [151]:
team('pankaj','data sc')

'pankaj is working on data sc'

In [152]:
team(name='pankaj', project='IR')

'pankaj is working on IR'

In [1]:
# it should accept any no of arguments
# treated as key value pair (dictionary)

def kwarg_func(**kwargs):   # kwargs not a key word it can any thing
    return kwargs

In [2]:
kwarg_func(a=3, b=2, name='pankaj', s='ai', l=[2,3,5], t=(54,5,6))

{'a': 3, 'b': 2, 'name': 'pankaj', 's': 'ai', 'l': [2, 3, 5], 't': (54, 5, 6)}

In [5]:
def kwarg_func(**kwargs):   # kwargs not a key word it can any thing
    return kwargs.keys()

In [6]:
kwarg_func(a=3, b=2, name='pankaj', s='ai', l=[2,3,5], t=(54,5,6))

dict_keys(['a', 'b', 'name', 's', 'l', 't'])

In [7]:
def kwarg_func(**kwargs):   # kwargs not a key word it can any thing
    return kwargs.values()

In [8]:
kwarg_func(a=3, b=2, name='pankaj', s='ai', l=[2,3,5], t=(54,5,6))

dict_values([3, 2, 'pankaj', 'ai', [2, 3, 5], (54, 5, 6)])

In [9]:
def kwarg_func(**kwargs):   # kwargs not a key word it can any thing
    return kwargs.items()

In [10]:
kwarg_func(a=3, b=2, name='pankaj', s='ai', l=[2,3,5], t=(54,5,6))

dict_items([('a', 3), ('b', 2), ('name', 'pankaj'), ('s', 'ai'), ('l', [2, 3, 5]), ('t', (54, 5, 6))])

In [166]:
# Q write a program which takes variable key workd arguments and return only the values which is a list

def return_list(**kwarg): 
    for i in kwarg.keys():
        if type(kwarg[i])==list: 
            return i, kwarg[i]

In [167]:
return_list(a=3, b=2, name='pankaj', s='ai', l=[2,3,5], t=(54,5,6))

('l', [2, 3, 5])

In [168]:
def test(*pankaj, **kumar): 
    return pankaj,kumar

In [169]:
test(1,2,3, a=100, b=200)

((1, 2, 3), {'a': 100, 'b': 200})

In [171]:
# Python Namespace

def greet():
    msg='Hello , Guys'    # msg is the local variabl
    print(msg)

In [172]:
print(msg)

NameError: name 'msg' is not defined

In [175]:
subpart=' to the course'   # it is a globle variable
def greet():
    msg='Hello , Guys' + subpart
    print(msg)

In [176]:
greet()

Hello , Guys to the course

In [179]:
print(subpart)    # gloable variable can access in and out side the funcation

 to the course

In [180]:
print(msg)   # local variable can access only in the funciton

NameError: name 'msg' is not defined

In [13]:
## funtion inside function:
def marks_in_subject(**kwargs): 
    def total_marks(marks_list): 
        return sum(marks_list)
    marks_list=[]
    for sub,marks in kwargs.items(): 
        marks_list.append(marks)
    return total_marks(marks_list)

In [14]:
marks_in_subject(a=23, b=45, c=67)

135

In [192]:
# best practice calling from outside
def total_marks(marks_list): 
        return sum(marks_list)
def marks_in_subject(**kwargs): 
    marks_list=[]
    for sub,marks in kwargs.items(): 
        marks_list.append(marks)
    return total_marks(marks_list)

In [193]:
marks_in_subject(a=34, b=76, c=87, d=65)

262

In [196]:
# doc string: 

def find_power(num, pow): 
    """
    this function return the power of no
    Args: 
        num(int): insert any integer value
        pow(int): insert any integer value
    Returns: 
        integer: power of number
    """
    return num**pow

In [197]:
find_power(2,3)

8

In [198]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, pow)
    this function return the power of no
    Args:
        num(int): insert any integer value
        pow(int): insert any integer value
    Returns:
        integer: power of number

In [199]:
print(find_power.__doc__)

    this function return the power of no
    Args:
        num(int): insert any integer value
        pow(int): insert any integer value
    Returns:
        integer: power of number

In [200]:
# thanks