In [43]:
# lambda>> anonymous function>>consize way to define simple fn in python
# Syntax: 
        # lambda args: exp

In [44]:
def squre(n): 
    return n**2       # explicitly return the result

In [45]:
squre(5)

25

In [46]:
sq=lambda x:x**2   # implicitly return the result

In [47]:
sq(4)

16

In [48]:
add=lambda a,b: a+b

In [49]:
add(3,4)

7

In [50]:
is_even=lambda n: n%2==0

In [51]:
is_even(34)

True

In [52]:
x=['python', 'data science', 'pnkj']
sorted_list=sorted(x,key=lambda x:len(x))

In [53]:
sorted_list

['pnkj', 'python', 'data science']

In [54]:
# fib.. series: 
def fib(n): 
    if n<=1: 
        return n
    else: 
        return fib(n-1) + fib(n-2)

In [55]:
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [56]:
# fib... using lambda fn
fib=lambda n: n if n<=1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [57]:
# factorial: 
def fact(n): 
    if n==0 or n==1: 
        return 1
    else: 
        return n*fact(n-1)

In [58]:
fact(5)

120

In [59]:
# using lambda funcation: 
fact_num=lambda n: 1 if n==0 or n==1 else n*fact(n-1)

In [60]:
fact_num(5)

120

map : execute a specified function for each of item of an iterable<br>
syntax: map(func, *iterables)

In [61]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [62]:
# Q find the squre each elms of the list: 
ls=[1,2,3,4,5,6]

def squre(l):
    list=[] 
    for i in l:
        list.append(i**2) 
    return list

In [63]:
squre(ls)

[1, 4, 9, 16, 25, 36]

In [64]:
def sq(x): 
    return x**2

In [65]:
sq(4)

16

In [66]:
# using map function
ls=[1,2,3,4,5,6]

def sq(x): 
    return x**2

list(map(sq,ls))

[1, 4, 9, 16, 25, 36]

In [67]:
# using lambda fn: 
ls=[1,2,3,4,5,6]
list(map(lambda x:x**2, ls) )

[1, 4, 9, 16, 25, 36]

In [68]:
# add 10 in every elm of the list
ls=[1,2,3,4,5,6]

def sq(x): 
    return x+10

list(map(sq,ls))

[11, 12, 13, 14, 15, 16]

In [69]:
ls=[1,2,3,4,5,6]

lf=lambda x: x+10
list(map(lf, ls))

[11, 12, 13, 14, 15, 16]

In [70]:
# Q convert all the elms of the list into the integer
l=['1', '2', '3', '4', '100', '234']

list(map(lambda x: int(x), l))

[1, 2, 3, 4, 100, 234]

In [71]:
# add element wise list
l1=[100, 200, 300, 400, 500]
l2=[1, 2, 3, 4, 5]

list(map(lambda x, y: x+y, l1, l2))

[101, 202, 303, 404, 505]

In [72]:
# convert upper cases and store in list
s='pankajkumawat'
list(map(lambda x: x.upper(), s))

['P', 'A', 'N', 'K', 'A', 'J', 'K', 'U', 'M', 'A', 'W', 'A', 'T']

In [1]:
words=['pyThon', 'panKaj']
list(map(str.capitalize,words))

['Python', 'Pankaj']

In [14]:
name='panKajkuMawat'

In [15]:
name.capitalize()

'Pankajkumawat'

In [16]:
str.capitalize(name)

'Pankajkumawat'

In [20]:
grades=['A', 'B', 'C', 'D']
list(map(lambda grade: 4 if grade=='A' else (3 if grade=='B' else 2), grades))

[4, 3, 2, 2]

Reduce >>folding/reduction <br>
            from functools import reduce

In [21]:
from functools import reduce

In [22]:
l=[1,2,3,4,5,6]
reduce(lambda x,y: x+y, l)

21

In [25]:
l=[1,2,3,4,5,6]
def add(x,y): 
    return x+y
reduce(add,l)

21

In [26]:
l=[1,2,3,4,5,6]
reduce(lambda x,y,z: x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [27]:
reduce(lambda x, y: x+y, [])

TypeError: reduce() of empty iterable with no initial value

In [37]:
reduce(lambda x,y: x+y, [1])

1

In [35]:
reduce(lambda x, y,z: x+y+z, [2])

2

In [33]:
reduce(lambda x,y: x*y, [2])

2

In [38]:
l

[1, 2, 3, 4, 5, 6]

In [40]:
reduce(lambda x, y: x*y, l)

720

In [42]:
words=['Data', 'Science', 'Gen', 'Ai']
reduce(lambda x, y: x+" "+y, words)

'Data Science Gen Ai'

In [45]:
# find max number in the list
numbers=[1,3,54,56,3567,367,4567, 4526]
reduce(lambda x,y: x if x>y else y, numbers)

4567

In [46]:
def factorial(n): 
    return reduce(lambda x, y: x*y, range(1, n+1))

In [47]:
factorial(5)

120

filter function>> is used to filter elements from an iterable based on some certain condition <br>
syntax: filter(function, iterable)

In [49]:
l=[1, 2, 3, 4, 5, 6]

In [50]:
list(filter(lambda x: x%2==0, l))  # even

[2, 4, 6]

In [51]:
list(filter(lambda x: x%2!=0, l))  # odd

[1, 3, 5]

In [54]:
l1=[-1, -4, 4, 54,0, 56]
list(filter(lambda x: x<0, l1))   # negetive

[-1, -4]

In [55]:
list(filter(lambda x: x>=0, l1))   # positive

[4, 54, 0, 56]

In [60]:
s=['pankaj', 'pk', 'data', 'RTU', 'ra']
list((filter(lambda x:len(x)>=3, s)))  # only that char that have grater equal 3 char

['pankaj', 'data', 'RTU']

In [61]:
def cheak_even(num): 
    if num%2==0: 
        return True
    return False

In [62]:
num=[1,2,3,4,5,56,53,63]
list(filter(cheak_even, num))

[2, 4, 56]

In [ ]:
#thanks